.game-room-list{
  text-align: center;
  align-items: stretch;
  justify-content: center;
  display: flex;
}
.left{
  align-content: center;
  flex: 0.5;
}
.right{
  flex: 0.5;
  align-content: stretch;
  display: block;
}

.rooms mat-list-item:hover {
  color: #760000;
  background-color: rgb(152, 185, 255);
}
.selected {
  background-color: #5a95e2 !important;
  color: #760000;
}
.rooms mat-list-item.selected:hover {
  background-color: rgba(90, 149, 226, 0.85) !important;
  color: #760000;
  display: block;
}

.rooms mat-list-item {
  display: block;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgba(192, 207, 244, 0.94);
  color: #760000;
  margin: 0;
  padding: 0;
  height: 3em;
}
.rooms {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
}
button{
  color: #dcff4b;
  background-color: #0009ad;
  width: 100%;
  border-radius: 0;
  align-self: end;
}
