.game-room-list{
  text-align: center;
  align-items: stretch;
  justify-content: center;
  display: flex;
}
.left{
  align-content: center;
  flex: 0.5;
}
.right{
  flex: 0.5;
}

.rooms li:hover {
  color: #91bdd2;
  background-color: rgba(84, 128, 128, 0.87);
  left: .1em;
}
.selected {
  background-color: #6bdcd3 !important;
  color: white;
}
.rooms li.selected:hover {
  background-color: rgba(82, 234, 209, 0.61) !important;
  color: white;
  display: block;
}

.rooms li {
  display: block;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgba(47, 137, 156, 0.45);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.rooms {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
