h1 {
  color: #af0f9d;
  font-family: 'Baloo Chettan', cursive;
  font-size: 250%;
}
:host{
  background: #000451 linear-gradient(to bottom, #000451 0%, #183cf3 50%, #000451 100%);
}
.app{
  background: #000451 linear-gradient(to bottom, #000451 0%, #183cf3 50%, #000451 100%);
  color: #dcff4b;
  height:100%;
  margin: 0;
  padding: 0;
}
a{
  color: white;
}
